/* ==========================================================================

   Quiz
   ====

   ========================================================================== */

@import "globals";
@import "colors";
@import "mixins";
@import "sass-mq/mq";

.c-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-quiz__title {
    width: 100%;
    flex: 0 0 auto;
    align-self: flex-start;
}

.c-quiz__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: rem(510px);
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
}

.c-quiz__question-list {
    width: 100%;
    margin-top: 1.5em;
    padding-bottom: rem(80px);

    @include mq(tablet) {
        margin-top: 0;
    }
}

.c-quiz__message {
    margin-bottom: rem(80px);
    background-color: $color-green;
    text-align: center;
}

.c-quiz__actions {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    border-top: 1px solid $color-light-blue;
    background-color: $color-bg;
    text-align: center;

    @include mq(tablet) {
        position: static;
        padding: 0;
        border-top: 0;
        background-color: transparent;
    }

    > * + * {
        margin-left: 35px;
    }
}

.c-quiz__progress {
    position: fixed;
    top: 0;
    left: 0;
}