/* ==========================================================================

   Form Edit Box
   ====

   ========================================================================== */

@import "globals";
@import "mixins";
@import "colors";
@import "sass-mq/mq";


.o-edit-box {
    display: block;
    margin-bottom: 40px;
}

.o-edit-box__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.o-edit-box__legend {
    display: inline-block;
    margin: 0;
    padding: 0 0 1em;
    font-weight: font-weight(bold);
}

.o-edit-box__row {
    width: 100%;

    @include mq(tablet) {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}

.o-edit-box__label {
    width: 100%;
    padding-top: em(8px, 14px);
    padding-bottom: em(8px, 14px);
    font-size: font-size(14px);

    @include mq(tablet) {
        flex: 0 0 auto;
        width: percentage(90px / 600px);
        padding-bottom: 0;
    }
}

.o-edit-box__field {

    @include mq(tablet) {
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: auto;
    }
}

.o-edit-box__actions {
    margin: 10px -10px 15px;

    > * {
        margin: 0 10px;
    }
}