/* ==========================================================================

   Button
   ====

   ========================================================================== */

@import "colors";
@import "mixins";

$btn-font-size: 14px;

.o-button {
    display: inline-block;
    padding: 0;
    border: 0;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;
    font-size: font-size($btn-font-size);
    font-weight: font-weight(bold);
    line-height: 1.2em;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease;

    > svg {
        position: relative;
        right: 0.4em;

        &.is-after {
            right: auto;
            left: 0.4em;
        }
    }
}

.o-button--primary,
.o-button--secondary {
    padding: 1em 2.5em;
    background-color: $color-light-blue;
    color: $color-light;
    text-align: center;

    &:focus,
    &:hover,
    &:active {
        background-color: $color-blue;
    }

    &.is-disabled,
    &[disabled] {
        background-color: $color-gray !important;
        color: darken($color-light, 5%);
        cursor: not-allowed;
    }
}



.o-button--action {
    padding: 0.5em;
    color: $color-light-blue;
    transition: color 0.2s ease;

    &:hover,
    &:active,
    &:focus {
        color: $color-blue;
    }

    &.is-disabled,
    &[disabled] {
        color: $color-gray !important;
        cursor: not-allowed;
    }
}

.o-button--large {
    min-width: em(150px, $btn-font-size);
}


/* ==========================================================================

   Admin Theme Style
   ====

   ========================================================================== */

.t-admin {

    .o-button--primary {
        background-color: $color-dark-red;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($color-dark-red, 5%);
        }
    }

    .o-button--secondary {
        background-color: $color-orange;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($color-orange, 5%);
        }
    }

    .o-button--action {
        color: $color-red;

        &:hover,
        &:active,
        &:focus {
            color: darken($color-red, 5%);
        }
    }
}