/* ==========================================================================

   Question
   ====

   ========================================================================== */

@import "globals";
@import "mixins";
@import "colors";
@import "sass-mq/mq";

.c-question {
    position: relative;
}

.c-question__num {
    float: left;
    padding-right: rem(5px);
    color: $color-mid-gray;
    font-size: font-size(l);
    font-weight: font-weight(regular);
    line-height: 1;

    @include mq(tablet) {
        position: absolute;
        top: -0.1em;
        right: 100%;
        float: none;
        padding-right: rem(20px);
        font-size: font-size(xl);
    }
}


.c-question__body {
    min-height: 1.6em * 3;
    margin-bottom: em(26px, font-size(m, false));
    font-size: font-size(m);
    line-height: 1.6em;

    > *:last-child {
        margin-bottom: 0;
    }
}

.c-question__answer {
    min-height: rem(100px);
}