//colors by name
$color-dark: #535353;
$color-light: #fefefe;
$color-red: #e74c3c;
$color-dark-red: #be3913;
$color-blue: #2980b9;
$color-light-blue: #3498db;
$color-green: #26ad5f;
$color-orange: #e67e22;
$color-gray: #9ea8ab;
$color-mid-gray: #ccc;
$color-light-gray: #ecf0f1;

//colors by function
$color-text: $color-dark;
$color-bg: $color-light;
$color-link: $color-light-blue;
$color-link-hover: $color-blue;
$color-border: $color-dark;
$color-text-selection: lighten($color-light-blue, 40%);