//fonts by type
$font-family-sans: "Noto Sans", sans-serif;
$font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

//fonts by function
$font-family-base: $font-family-sans;
$font-family-h: $font-family-sans;
$font-family-script: $font-family-sans;
$font-family-typescript: $font-family-mono;

//font dimensions
$font-size-default: 16px;
$font-lheight-default: 24px;

$font-sizes: (
    xl: 60px,
    l: 42px,
    m: $font-size-default,
    s: 14px,
    xs: 10px
);


$font-weights: (
    regular: 400,
    bold: 700
);
//font dimensions by function
$font-sizes-headings: (
    1: 60px,
    2: 42px,
    3: 36px,
    4: 28px,
    5: 26px,
    6: $font-size-default
);

$font-size-h: 42px;
$font-size-text: $font-size-default;

$font-lheight-h: 1.3;