// ==========================================================================
// Mixins and functions
//
// Note: always put function at the beginning of the sub-section
// ==========================================================================

@import "globals";
@import "fonts";
@import "sass-mq/mq";

// Generic
// ==========================================================================

@function perc($width, $container-width: $container-width) {
    @return percentage($width / $container-width);
}

@function perc-image-width($image-src, $container-width: $container-width) {
    @return percentage(image-width($image-src) / $container-width);
}

@function strip-units($value) {
    @return $value / ($value * 0 + 1);
}

@function z-index($level: base) {
    @return map-get($layers, $level);
}

@function vw($width, $viewport-reference-width: $viewport-width) {
    @return (strip-units($width) / strip-units($viewport-reference-width)) * 100 + vw;
}

@function vh($height, $viewport-reference-height: $viewport-height) {
    @return (strip-units($height) / strip-units($viewport-reference-height)) * 100 + vh;
}


// Elements
// ==========================================================================

@mixin boost-performance ($translate: true) {
    backface-visibility: hidden;
    transform-style: preserve-3d;

    @if ($translate) {
        transform: translate3d(0, 0, 0);
        will-change: transform;
    }
}

@mixin clearfix {

    &::before,
    &::after {
        display: table;
        content: "";
    }

    &::after {
        clear: both;
    }
}


@mixin base-input {
    position: relative;
    display: block;
    width: 100%;
    padding: em(10px, 14px);
    border: 0;
    border-radius: 2px;
    background-color: darken($color-light-gray, 2%);
    color: $color-text;
    font-size: font-size(s);
    font-weight: font-weight(regular);
    line-height: 1.5em;
    transition: background-color 0.2s ease;
}

@mixin fit-background-image($image-url, $inline: false, $ratio: 1, $line-height: false) {

    @if $line-height {
        line-height: ceil(image-height($image-url) * $ratio);
    } @else {
        width: ceil(image-width($image-url) * $ratio);
        height: ceil(image-height($image-url) * $ratio);
    }

    @if $inline {
        background-image: inline-image($image-url);
        background-repeat: no-repeat;
        background-position: 0 0;
    } @else {
        background: image-url($image-url) no-repeat 0 0;
    }

    @if $ratio != 1 {
        background-size: ceil(image-width($image-url) * $ratio) auto;
    }
}

@mixin img-responsive($display: block) {
    display: $display;
    max-width: 100%;
    height: auto;
}

//see https://github.com/tinganho/compass-placeholder
@mixin placeholder {

    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin classed-headings($headings...) {

    @if length($headings) == 0 {
        $headings: map-keys($font-sizes-headings);
    }
    $selectors: ();

    @each $i in $headings {
        $current-heading: nth($headings, $i);
        $selector: unquote("h#{$current-heading}, .h#{$current-heading}");
        $selectors: append($selectors, $selector, comma);
    }

    #{$selectors} {
        @content;
    }
}

// Typography
//
// ==========================================================================

@function em($pixels, $context: $font-size-default) {

    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return #{$pixels / $context}em;
}

@function rem($pixels) {

    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @return #{$pixels / $font-size-default}rem;
}


@function font-size($size, $rem: true) {
    $result: $size;

    @if map-has-key($font-sizes, $size) {
        $result: map-get($font-sizes, $size);
    }

    @if $rem == true {
        @return rem($result);
    }

    @return $result;
}

@function font-weight($weight) {

    @if map-has-key($font-weights, $weight) {
        @return map-get($font-weights, $weight);
    } @else {
        @warn "Weight #{$weight} undefined";
    }
}

@function line-height($size, $context: m) {
    $context-size: font-size($context, false);
    @return em($size, $context-size);
}


@mixin text-ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

@mixin reset-typography($font-weight: normal, $line-height: inherit) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-default;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin font-heading() {
    margin-bottom: 0.7em;
    font-family: $font-family-sans;
    font-size: font-size(20px);
    font-weight: font-weight(bold);

    @include mq(tablet-landscape) {
        font-size: font-size(22px);
    }
}

@mixin font-content() {
    font-size: font-size(16px);
    font-weight: font-weight(regular);

    @include mq(tablet-landscape) {
        font-size: font-size(18px);
    }
}

@mixin responsive-typography($font-min, $font-max, $breakpoint-min, $breakpoint-max) {
    //https://www.smashingmagazine.com/2016/05/fluid-typography/

    $font-diff: ($font-max - $font-min);
    $breakpoint-diff: ($breakpoint-max - $breakpoint-min);
    $font-scale: $font-diff / $breakpoint-diff;
    $base-font-size: percentage($font-min / 16px);
    $base-font-size-em: em($font-min, 16px);

    // https://zellwk.com/blog/viewport-based-typography/
    font-size: calc(#{$base-font-size-em} + (#{strip-units($font-diff)} * (100vw - #{$breakpoint-min}) / #{strip-units($breakpoint-diff)}));
}