/* ==========================================================================

   Textarea
   ====

   ========================================================================== */

@import "colors";
@import "mixins";

.o-textarea {
    position: relative;
    display: block;
    margin-bottom: 1em;

    > span {
        position: absolute;
        top: 100%;
        right: 2px;
        left: 2px;
        z-index: -1;
        opacity: 0.8;
        height: 2px;
        background-color: $color-blue;
        transform: translateY(-2px);
        transition: all 0.2s ease;
    }
}

.o-textarea__field {
    @include base-input;
    min-height: 120px;
    resize: vertical;

    &:focus {
        background-color: $color-light-gray;
        outline: 0;

        + span {
            opacity: 1;
            transform: translateY(0);
        }
    }
}



/* ==========================================================================

   Admin Theme
   ====

   ========================================================================== */

.t-admin {

    .o-textarea > span {
        background-color: $color-orange;
    }
}