/* ==========================================================================

   Loader
   ====

   ========================================================================== */

@import "mixins";

.o-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: z-index(modal);
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: rgba(white, 0.3);
    pointer-events: none;
    animation-fill-mode: forwards;
    animation-name: loader-out;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;

    &.is-visible {
        display: block;
        opacity: 1;
        pointer-events: auto;
        animation-name: loader-in;
    }
}


.o-loader__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    transform: translateY(-50%);
    transition: all 0.5s ease-out 0.2s;
    transition-property: opacity, transform;

    .o-loader.is-visible & {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loader-in {

    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes loader-out {

    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}