/* ==========================================================================

   Application Layout
   ====

   ========================================================================== */

@import "globals";
@import "mixins";
@import "sass-mq/mq";

#container {
    position: relative;
    max-width: vw(1140px);
    min-height: 100vh;
    margin: 0 auto;
    padding: 45px 0;
    font-size: font-size(14px);

    @include mq(tablet) {
        display: flex;
        padding: 75px 0;

        > * {
            width: 100%;
        }
    }
}

#main-title {
    font-size: font-size(34px);

    @include mq(tablet) {
        font-size: font-size(l);
    }

    @include mq(tablet-landscape) {
        font-size: font-size(xl);
    }
}