/* ==========================================================================

   Select input
   ====

   ========================================================================== */

@import "colors";
@import "mixins";

.o-select {
    position: relative;
    display: block;
    margin-bottom: 1em;
}

.o-select__field {
    @include base-input;
    appearance: textfield;

    &:focus {
        background-color: $color-light-gray;
        outline: 0;
    }
}

.o-select__ico {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: em(-8px, 14px);
    fill: $color-blue;
}



/* ==========================================================================

   Admin Theme
   ====

   ========================================================================== */

.t-admin {

    .o-select__ico {
        fill: $color-orange;
    }
}