/* ==========================================================================

   Text Editor
   ====

   ========================================================================== */

@import "colors";
@import "mixins";

.o-rte[class^="RichTextEditor__root___2QXK"] {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: 0;
    border-radius: 2px;
    background-color: darken($color-light-gray, 2%);
    color: $color-text;
    font-size: font-size(s);
    font-weight: font-weight(regular);
    line-height: 1.5em;



    .public-DraftEditor-content {
        min-height: 120px;
        background-color: darken($color-light-gray, 2%);
        transition: background-color 0.2s ease;

        &::after {
            position: absolute;
            top: 100%;
            right: 2px;
            left: 2px;
            z-index: -1;
            opacity: 0;
            height: 2px;
            background-color: $color-blue;
            content: "";
            transform: translateY(-2px);
            transition: all 0.2s ease;
        }

        &:focus {
            background-color: $color-light-gray;
        }

        &:focus::after {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.o-rte__toolbar {
    margin-right: 0;
    margin-left: 0;
    padding-right: 10px;
    padding-left: 10px;
    background-color: lighten($color-light-gray, 2%);
}



/* ==========================================================================

   Admin Theme
   ====

   ========================================================================== */

.t-admin {

    .o-rte .public-DraftEditor-content::after {
        background-color: $color-orange;
    }
}