/* ==========================================================================

   Question
   ====

   ========================================================================== */

@import "mixins";
@import "colors";

.c-admin-question {
    border-bottom: 2px solid $color-blue;
}

.c-admin-question__hint {
    position: relative;
    top: -1em;
    font-size: font-size(xs);
}



.t-admin {

    .c-admin-question {
        border-color: $color-orange;
    }
}