/* ==========================================================================

   Wells
   ====

   ========================================================================== */

@import "colors";
@import "mixins";

.o-well {
    display: inline-block;
    margin-bottom: 1em;
    padding: 15px 18px;
    border-radius: 3px;
    background-color: $color-gray;
    color: $color-bg;
    font-size: font-size(16px);
    font-weight: font-weight(bold);
    line-height: 1.5em;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.o-well--success {
    background-color: $color-green;
}

.o-well--error {
    background-color: $color-red;
}

