/* ==========================================================================

   Radio Field
   ====

   ========================================================================== */

@import "colors";
@import "mixins";

.o-radio {
    position: relative;
    display: block;
    margin-bottom: em(18px, 14px);
    font-size: font-size(m);
}

.o-radio__field {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    width: 0;
    height: 0;
}

.o-radio__label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    font-size: inherit;
    font-weight: font-weight(regular);
    line-height: 1.3em;

    input:focus + & {
        color: $color-blue;
    }

    .o-radio__field:not([disabled]) + & {
        cursor: pointer;
    }

    &::after {
        position: absolute;
        top: 0.15em;
        left: 0;
        z-index: -1;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color-mid-gray;
        content: "";
    }

    &::before {
        position: absolute;
        top: 0.15em;
        left: 0;
        z-index: 1;
        opacity: 0;
        width: 16px;
        height: 16px;
        border: 5px solid $color-blue;
        border-radius: 50%;
        background-color: $color-bg;
        content: "";
        transform: scale(1.3);
        transition: all 0.15s linear;
    }
}

.o-radio__field:checked + .o-radio__label {

    &::before {
        opacity: 1;
        transform: scale(1);
    }
}



/* ==========================================================================

   Admin Theme
   ====

   ========================================================================== */

.t-admin {

    input:focus + .o-radio__label {
        color: $color-orange;
    }

    .o-radio__label::before {
        border-color: $color-orange;
    }
}