/* ==========================================================================

   Results
   ====

   ========================================================================== */

@import "mixins";
@import "colors";

.c-result {
    position: relative;
    padding-left: rem(60px);
}

.c-result__header {
    display: flex;
    margin-bottom: rem(16px);
    align-items: flex-start;
    flex-wrap: nowrap;
}

.c-result__id {
    position: relative;
    width: 1px;
    height: font-size(l);
    color: $color-mid-gray;

    &::before {
        position: absolute;
        top: -0.1em;
        left: -60px;
        font-size: font-size(l);
        font-weight: font-weight(regular);
        line-height: 1;
        content: attr(data-qid);
    }
}

.c-result__check {
    font-weight: font-weight(bold);

    > * {
        margin-bottom: rem(12px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.c-result__answer,
.c-result__user {

    > svg {
        display: inline-block;
        margin-right: rem(12px);
    }
}

.c-result__answer {
    color: $color-green;
    font-style: italic;
}


.c-result.is-correct {

    .c-result__id {
        color: $color-green;
    }

    .c-result__user {
        color: $color-green;
    }
}

.c-result.is-wrong {

    .c-result__user {
        color: $color-red;
        text-decoration: line-through;
    }

    .c-result__id {
        color: $color-red;
    }
}