/* ==========================================================================

   Progress Bar
   ====

   ========================================================================== */

@import "colors";

.o-progress {
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    background-color: $color-blue;
    transition: width 0.4s ease-out;
}