<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quiz Master</title>
        <meta name="description" content="Quiz Master" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no" />

        <% if (htmlWebpackPlugin.options.modernizr) { %>
        <script src="<%- webpackConfig.output.publicPath %><%- htmlWebpackPlugin.options.modernizr %>"></script>
        <% } %>

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    </head>

    <body>
        <div id="app-root"></div>
    </body>
</html>