/* ==========================================================================

   Results
   ====

   ========================================================================== */

@import "colors";
@import "mixins";

.c-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-results__title {
    width: 100%;
    flex: 0 0 auto;
    align-self: flex-start;
}

.c-results__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: rem(560px);
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
    align-items: flex-start;
    justify-content: center;

    .o-well {
        align-self: center;
    }
}

.c-results__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.c-results__item {
    display: block;
    margin: 0 0 rem(30px);
    padding: 0 0 rem(18px);
    border-bottom: 1px solid #c8d3d7;
}

.c-results__summary {
    margin-bottom: em(54px, 28px);
    font-size: font-size(28px);
    font-weight: font-weight(bold);

    > strong {
        color: $color-green;
    }
}

.c-results__actions {
    align-self: center;
    text-align: center;
}